{%extends 'posts/layout.html' %}

{% block content %}
    <h1 class = "center-align lightblue lighten-3">{{post.title}} By: {{post.created_by}}</h1>
    <div class="card">
        <div class="card-content">
            <ol>
                {% for line in lines %}
                <li>{{line}}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="card-action">
            {{post.created_at}}
        </div>
    </div>
    <a class="btn" href = "/posts">Go Back</a>
{% endblock %}